@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    background-color:#F2F2F2;
    text:#606060;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:34px;
    text:#606060;
    margin: auto;
    text-align: center;
}

h3{
    font-family: 'Poppins', sans-serif;
    text:#606060;
    font-size:24px;
}

label{
    font-family: 'Poppins', sans-serif;
    text:#606060;
    font-size:14px;
    margin-right: 0;
    padding: 0;
}

a:link {
    color: #d14f96;
}
a:visited {
    color: #ff9f9f;
}

a:active {
    color: #4ab2ff;
}

.card{
    background-color:#F9F9F9;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    padding:0px;
    margin:8px;
    border: 1px solid #e2e2e2;
    outline: 0px solid #e2e2e2;
    border-radius: 0px;
}

